html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}
.shake {
	animation: shake 200ms ease-in alternate 5;
}
.input--error {
	border-color: red;
}
.text--error {
	color: red;
}
input[type="text"] {
	border-size: 1px;
	font-size: 1rem;
}
button {
	background-color: gray;
	color: white;
	font-size: 1rem;
}

@keyframes shake {
	0% {
		transform: translate3d(5px, 0, 0);
	}
	50% {
		transform: translate3d(0px, 0, 0);
	}
	100% {
		transform: translate3d(-5px, 0, 0);
	}
}